@import '../../styles/mixins';

.angus-card {
    width: 100%;
    height: 120%;
    box-shadow: 5px 5px red;
    border-radius: 5px;
}

.img-fluid {
   transform:scale(3,3);
   margin-left: -10%;
   margin-bottom: -10%;
}

